<div class="users-index">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        <%= link_to user_path(id: user.id), :action => 'go' do %>
          <%= render "shared/user_card", user: user %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>