<%= form_with model: comment, url: user_post_path, method: :comment, local: true, scope: :comment do |f| %>
  <div>
    <div>
      <%= f.text_area :text %>
    </div>
    <div>
      <%= f.submit 'Comment' %>
    </div>
  </div>
<% end %>