<ul class="posts-list">
  <% posts.each do |post| %>
    <li class="post-item">
      <span class="post-index">Post # <%= post.id %></span>
      <%= render "shared/post_preview", post: post %>
      <%= render "shared/comments_preview", comments: [post.comments, post.most_recent_comments][type] %>
    </li>
  <% end %>
</ul>