<div class="posts-list">
  <span class="post-title"><%= post.title %></span>
  <div class="post-stats">
    <span class="post-comments-counter">Comments <%= post.comments_counter %> </span>
    <span class="post-likes-counter">Likes <%= post.likes_counter %> </span>
  </div>
</div>