<div class="post">
  <span class="post-title"><%= post.title %></span>
  <div class="post-stats">
    <span class="post-comments-counter">Comments <%= post.comments_counter %> </span>
    <span class="post-likes-counter">
      <%= render "shared/like_create", post: post, user: @client %> <%= post.likes_counter %>
    </span>
  </div>
</div>