<div class="user">
  <div class="user-img-container">
    <%= image_tag(user.photo, :alt => "Photo of #{user.name}", :class => "user-img") %>
  </div>
  <div class="user-info-preview">
    <div class="user-name">
      <%= user.name %>
    </div>
    <div class="user-posts-counter">
      Number of Posts: <%= user.posts_counter %>
    </div>
  </div>
</div>
