<%= link_to :back do %>
  <i class="fa-solid fa-arrow-left-long"></i>
<% end %>
<div class="posts-index">
  <%= render "shared/user_card", user: @posts[0].author %>
  <%= render partial: "shared/posts_list", locals: { posts: @posts, type: 1 }, class: "posts-list" %>
</div>