.posts-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  gap: 12px
}

.recent-post {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.post-stats {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
