.user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.user-img-container {
  display: flex;
  align-items: center;
}

.user-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
